body {
	margin: 15px;
    background: #CCC;
    font-family: "Georgia", "Times New Roman", "Times", serif;
    font-size: 11pt;
    }
A 			{ color: #356; text-decoration: underline; }
A:link		{ color: #356; text-decoration: underline; }
A:visited	{ color: #356; text-decoration: underline; }
A:active	{ color: #F60; text-decoration: underline; }
A:hover		{ color: #F60; text-decoration: underline; }


tr {
    background-color: #FFF;
    }

th {
    text-align: left;
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    background-color: #CCC;
    }

td {
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
    font-size: 11pt;
    padding: 2px;
    }

.header {
    background-color: #134;
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
    color: #FFF;
    padding: 10px 0px;
    }
    .header a {
        color: #FFF;
        }

.content {
    font-size: 11pt;
    padding: 5px;
    }

.let {
    padding-right: 5px;
    padding-left: 5px;
    }

.lets {
    text-align: center;
    font-size: 9pt;
    padding-top: 15px;
    border-bottom: 1px solid #CCC;
    }

.botnav {
    font-size: 9pt;
    margin-top: 12px;
    text-align: center;
    }

.button {
    display: block;
    float: left;
    font-size: 9pt;
    margin-left: 10px;
    }
    .button a,
    .button a:link,
    .button a:visited {
        background-color: #689;
        border: 1px solid #CCC;
        padding: 4px;
        text-decoration: none;
        }
    .button a:active,
    .button a:hover {
        background-color: #9BC;
        border: 1px solid #FFF;
        padding: 4px;
        text-decoration: none;
        }

