body {
	margin: 15px;
    background: #FFFFFF;
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
    font-size: 12pt;
    }
A 			{ color: #336666; text-decoration: underline; }
A:link		{ color: #336666; text-decoration: underline; }
A:visited	{ color: #336666; text-decoration: underline; }
A:active	{ color: #FF9900; text-decoration: underline; }
A:hover		{ color: #FF9900; text-decoration: underline; }


#header {
    background: #EEEEEE;
    border-bottom: 1px solid #999999;
    height: 40px;
    line-height: 33px;
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
    }

#content {
    margin-top: 45px;
    padding-left: 10px;
    }

h2 {
    margin-top: 55px;
    }

td {
    padding: 7px;
    }

.let {
    font-size: 10pt;
    padding-right: 4px;
    padding-left: 4px;
    }

.botnav {
    font-size: 9pt;
    margin-top: 12px;
    text-align: center;
    }

.button {
    display: block;
    float: left;
    font-size: 12pt;
    padding: 10px;
    }

.gray {
    color: #999999;
    }

.green {
    color: #009900;
    }

.orange {
    color: #FF9933;
    }

.red {
    color: #FF6666;
    }

.flr {
    float: right;
    }
